mixin footer()
  footer#footer
    .container.clearfix
      .first.one-fourth.widget-container
        h1 Recent Posts
        ul
          each post in recentPosts
            li
              a(href=langLink('/' + post.id))= postTitle(post)
      .one-fourth.widget-container
        h1 Blogroll
        ul
          - for (var i = 0; i < config.links.length / 3; i++)
            - var link = config.links[i]
            li
              a(href=link.link, target="_blank")= link.name
      .one-fourth.widget-container
        h1 Blogroll
        ul
          - for (var i = Math.ceil(config.links.length / 3); i < config.links.length / 3 * 2; i++)
            - var link = config.links[i]
            li
              a(href=link.link, target="_blank")= link.name
      .last.one-fourth.widget-container
        h1 Blogroll
        ul
          - for (var i = Math.ceil(config.links.length / 3 * 2); i < config.links.length; i++)
            - var link = config.links[i]
            li
              a(href=link.link, target="_blank")= link.name
    #copyrights
      .container.clearfix
        span.right
          a.backtotop(href='#') ↑
        ='Originally designed by Site5 WordPress Themes. BYVoid refactored with Node.js, less, jade and CoffeeScript.'
